<html>
<head>
  <style>
    div.container {
      width: 100%;
      border: 3px darkgrey;
    }
    header, footer {
      padding: 1em;
      color: mediumspringgreen;
      background-color: darkolivegreen;
      clear: left;
      text-align: center;
    }
    nav {
      float: left;
      max-width: 350px;
      margin: 0;
    }
    nav ul {
      list-style-type: none;
      padding: 0;
    }
    nav ul a {
      text-decoration: none;
    }
    article {
      margin-left: 360px;
      border-left: 3px solid darkolivegreen;
      padding: 1em;
      overflow: hidden;
    }
  </style>
</head>
<body>
<div class="container">

<header><h1>About Yarp</h1></header>
  <nav>
    <ul>
      <a href="/">Yarp Homepage</a>
      <br/><br/>
      <a href=”/images/Chart1.jpg”> The ER Diagram</a>
      <br/><br/>
      <a href=”/images/Chart2.jpg”> The Relational Schema</a>
      <br/><br/>
      <a href=”/images/Chart3.jpg”> The Functional Dependency Diagram</a>
      <br/><br/>
    </ul>
  </nav>
  <article>
    <h1>Purpose</h1>
    Yarp's purpose help people find restaurants and food.  It does this by having the ability
    to insert restaurants, grocery stores, and food trucks.  It also had the ability to insert
    food and the different attributes that come with them, including rating.
    <h1>Info</h1>
    Yarp started off as a small one man company owned by Greg Thomas <br/>
    <i>Yarp is not involved with or associated with Yelp</i>
  </article>
  <footer>Copyright Yarp.co Spring 2017</footer>

</div>
</body>
</html>

