<html>
<head>
  <style>
    div.container {
      width: 100%;
      border: 3px darkgrey;
    }
    header, footer {
      padding: 1em;
      color: mediumspringgreen;
      background-color: darkolivegreen;
      clear: left;
      text-align: center;
    }
    nav {
      float: left;
      max-width: 350px;
      margin: 0;
    }
    nav ul {
      list-style-type: none;
      padding: 0;
    }
    nav ul a {
      text-decoration: none;
    }
    article {
      margin-left: 360px;
      border-left: 3px solid darkolivegreen;
      padding: 1em;
      overflow: hidden;
    }
  </style>
</head>
<body>
<div class="container">

  <header><h1><%= title %></h1></header>
  <nav>
    <ul>
      <a href="/restaurant/all">View and add Restaurants</a>
      <br/><br/>
      <a href="/grocery/all">View and add Grocery Stores</a>
      <br/><br/>
      <a href="/foodTruck/all">View and add Food Truck</a>
      <br/><br/>
      <a href="/foodRestaurant/all">View and add Food</a>
      <br/><br/>
      <a href="/rating/all">Restaurant/Grocery Store/Food Truck Ratings</a>
      <br/><br/>
      <a href="/foodRatingRange/all">Salty and Spicy Lovers</a>
      <br/><br/>
      <a href="/about/">About</a>
      <br/><br/>
    </ul>
  </nav>
  <article>
    <h1>Welcome to <%= title %></h1>
    Here you input data about food, restaurants, grocery stores, and food trucks.
    <br/>
    Then you rate stuff for others to see.
    <br/>
    You can navigate the different pages by using the links on the side
  </article>
  <footer>Copyright Yarp.co Spring 2017</footer>

</div>
</body>
</html>

