<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 3px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: mediumspringgreen;
            background-color: darkolivegreen;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 350px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 360px;
            border-left: 3px solid darkolivegreen;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">

<header><h1>Restaruant, Grocery Store, and Food Truck Ratings</h1></header>
    <nav>
        <ul>
            <a href="/">Yarp Homepage</a>
            <br/><br/>
        </ul>
    </nav>
<article>
    <br />
        <table border="1">
            <tr><th>Name</th><th>Food Rating</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/rating/?name=<%= result[i].name %>"><%= result[i].name %></a></td>
                <td><a href="/rating/?food_rating=<%= result[i].food_rating %>"><%= result[i].food_rating %></a></td>
            </tr>
            <% } %>
        </table>
</article>
    <footer>Copyright Yarp.co Spring 2017</footer>
</div>
</body>
</html>
