<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 3px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: mediumspringgreen;
            background-color: darkolivegreen;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 350px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 360px;
            border-left: 3px solid darkolivegreen;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">

    <header><h1>Add New Restaurant</h1></header>
    <nav>
        <ul>
            <a href="/">Yarp Homepage</a>
            <br/><br/>
            <a href="/restaurant/all">View Restaurants</a>
            <br/><br/>
        </ul>
    </nav>
    <article>
    <form action="/restaurant/insert" method="get">
        Restaurant Name: <input id="name" name="name" type="text" />
        <br/><br/>
        Type: <input id="type" name="type" type="text" />  ie. sit-down or fastfood
        <br/><br/>
        Price Range: <input id="price_range" name="price_range" type="text" />  ie. $1-$10
        <br/><br/>
        Payment Method: <input id="payment_method" name="payment_method" type="text" />  ie. cash only
        <br/><br/>
        Street: <input id="street_No" name="street_No" type="text" />
        <br/><br/>
        Zip: <input id="zip" name="zip" type="text" />
        <br/><br/>
        <input type="submit" />

    </form>
    </article>
    <footer>Copyright Yarp.co Spring 2017</footer>
</div>
</body>
</html>
