<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 3px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: mediumspringgreen;
            background-color: darkolivegreen;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 350px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 360px;
            border-left: 3px solid darkolivegreen;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">

<header><h1>Update <%=restaurant.name%> <%restaurant.type%> <%restaurant.price_range%> <%restaurant.payment_method%> <%restaurant.street_No%> <%restaurant.zip%></h1></header>
<article>
<form action="/restaurant/update" method="get">
    <input type="hidden" id="restaurant_id" name="restaurant_id" value="<%= restaurant.restaurant_id %>">
    Name: <input id="name" name="name" type="text" value="<%= restaurant.name%>"/>
    <br />
    Type: <input id="type" name="type" type="text" value="<%= restaurant.type%>"/>
    <br />
    Price Range: <input id="price_range" name="price_range" type="text" value="<%= restaurant.price_range%>"/>
    <br />
    Payment Method: <input id="payment_method" name="payment_method" type="text" value="<%= restaurant.payment_method%>"/>
    <br />
    Street: <input id="street_No" name="street_No" type="text" value="<%= restaurant.street_No%>"/>
    <br />
    Zip: <input id="zip" name="zip" type="text" value="<%= restaurant.zip%>"/>
    <br />

    <input type="submit" />

</form>
</article>

    <footer>Copyright Yarp.co Spring 2017</footer>
</div>
</body>
</html>


