<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 3px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: mediumspringgreen;
            background-color: darkolivegreen;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 350px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 360px;
            border-left: 3px solid darkolivegreen;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">


<header><h1>Update <%=foodTruck.name%> <%foodTruck.price_range%> <%foodTruck.payment_method%> <%foodTruck.city%> </h1></header>
<article>
<form action="/foodTruck/update" method="get">
    <input type="hidden" id="foodTruck_id" name="foodTruck_id" value="<%= foodTruck.foodTruck_id %>">
    Name: <input id="name" name="name" type="text" value="<%= foodTruck.name%>"/>
    <br />
    Price Range: <input id="price_range" name="price_range" type="text" value="<%= foodTruck.price_range%>"/>
    <br />
    Payment Method: <input id="payment_method" name="payment_method" type="text" value="<%= foodTruck.payment_method%>"/>
    <br />
    City: <input id="city" name="city" type="text" value="<%= foodTruck.city%>"/>
    <br />

    <input type="submit" />

</form>
</article>
    <footer>Copyright Yarp.co Spring 2017</footer>
</div>
</body>
</html>


