<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 3px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: mediumspringgreen;
            background-color: darkolivegreen;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 350px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 360px;
            border-left: 3px solid darkolivegreen;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">


<header><h1>Grocery Store</h1></header>
        <nav>
            <ul>
                <a href="/">Yarp Homepage</a>
                <br/><br/>
                <a href="/grocery/add">Add New Grocery Store</a>
                <br/><br/>
            </ul>
        </nav>
<article>
    <a href="/grocery/add">Add New Grocery Store</a> &ndash; Creates a new Grocery Store with user input
    <br />
    <br />
        <table border="1">
            <tr><th>name</th><th>price range</th><th>payment method</th><th>street</th><th>zip</th><th>Delete</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/grocery/?grocery_id=<%= result[i].grocery_id %>"><%= result[i].name %></a></td>
                <td><a href="/grocery/?grocery_id=<%= result[i].grocery_id %>"><%= result[i].price_range %></a></td>
                <td><a href="/grocery/?grocery_id=<%= result[i].grocery_id %>"><%= result[i].payment_method %></a></td>
                <td><a href="/grocery/?grocery_id=<%= result[i].grocery_id %>"><%= result[i].street_No %></a></td>
                <td><a href="/grocery/?grocery_id=<%= result[i].grocery_id %>"><%= result[i].zip %></a></td>
                <td>
                    <form action="/grocery/delete/" style="display:inline;">
                        <input type="hidden" name="grocery_id" id="grocery_id" value="<%= result[i].grocery_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
</article>
    <footer>Copyright Yarp.co Spring 2017</footer>
</div>
</body>
</html>
