<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 3px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: mediumspringgreen;
            background-color: darkolivegreen;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 350px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 360px;
            border-left: 3px solid darkolivegreen;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">


<header><h1>Update <%=grocery.name%> <%grocery.price_range%> <%grocery.payment_method%> <%grocery.street_No%> <%grocery.zip%></h1></header>
<article>
<form action="/grocery/update" method="get">
    <input type="hidden" id="grocery_id" name="grocery_id" value="<%= grocery.grocery_id %>">
    Name: <input id="name" name="name" type="text" value="<%= grocery.name%>"/>
    <br />
    Price Range: <input id="price_range" name="price_range" type="text" value="<%= grocery.price_range%>"/>
    <br />
    Payment Method: <input id="payment_method" name="payment_method" type="text" value="<%= grocery.payment_method%>"/>
    <br />
    Street: <input id="street_No" name="street_No" type="text" value="<%= grocery.street_No%>"/>
    <br />
    Zip: <input id="zip" name="zip" type="text" value="<%= grocery.zip%>"/>
    <br />

    <input type="submit" />

</form>
</article>
    <footer>Copyright Yarp.co Spring 2017</footer>
</div>
</body>
</html>


