
    <h1>Grocery Food</h1>
    <ul>
        <li>Food Name: <%= result[0].name %></li>
        <li>Grocery:
            <ul>
                <% for(var i=0; result.length > i; i++ ) { %>
                    <li><%= result[i].name %></li>
                <% } %>
            </ul>
        </li>
    </ul>

<a href="/food/all"><< back</a>
