<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 3px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: mediumspringgreen;
            background-color: darkolivegreen;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 350px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 360px;
            border-left: 3px solid darkolivegreen;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">

    <header><h1>Add New Food for a Grocery Store</h1></header>
    <nav>
        <ul>
            <a href="/">Yarp Homepage</a>
            <br/><br/>
            <a href="/foodGrocery/all">View Food</a>
            <br/><br/>
        </ul>
    </nav>
    <article>
    <form action="/foodGrocery/insert" method="get">
        Food Name: <input id="name" name="name" type="text" />
        <br />
        <br />
        Grocery Store
        <br />
        <select id="grocery_id" name="grocery_id">
            <% for(var i=0; grocery.length > i; i++ ) { %>
                <option value="<%= grocery[i].grocery_id %>"><%= grocery[i].name %></option>
            <% } %>
        </select>
        <br/><br/>
        Sweetness
        <select id="sweet" name="sweet">
            <% for(var j=0; 11 > j; j++ ) { %>
            <option value="<%= j %>"><%= j %></option>
            <% } %>
        </select>
        <br/><br/>
        Saltiness
        <select id="salt" name="salt">
            <% for(var j=0; 11 > j; j++ ) { %>
            <option value="<%= j %>"><%= j %></option>
            <% } %>
        </select>
        <br/><br/>
        Greasiness
        <select id="grease" name="grease">
            <% for(var j=0; 11 > j; j++ ) { %>
            <option value="<%= j %>"><%= j %></option>
            <% } %>
        </select>
        <br/><br/>
        Richness
        <select id="rich" name="rich">
            <% for(var j=0; 11 > j; j++ ) { %>
            <option value="<%= j %>"><%= j %></option>
            <% } %>
        </select>
        <br/><br/>
        Warmth
        <select id="warmth" name="warmth">
            <% for(var j=0; 11 > j; j++ ) { %>
            <option value="<%= j %>"><%= j %></option>
            <% } %>
        </select>
        <br/><br/>
        Spiciness
        <select id="spicy" name="spicy">
            <% for(var j=0; 11 > j; j++ ) { %>
            <option value="<%= j %>"><%= j %></option>
            <% } %>
        </select>
        <br/><br/>
        Rating
        <select id="rating" name="rating">
            <% for(var j=0; 11 > j; j++ ) { %>
            <option value="<%= j %>"><%= j %></option>
            <% } %>
        </select>
        <br /><br/>
        <input type="submit" />

    </form>
    </article>
    <footer>Copyright Yarp.co Spring 2017</footer>
</div>
</body>
</html>
