<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 3px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: mediumspringgreen;
            background-color: darkolivegreen;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 350px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 360px;
            border-left: 3px solid darkolivegreen;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">

<header><h1>Food</h1></header>
    <nav>
        <ul>
            <a href="/">Yarp Homepage</a>
            <br/><br/>
            <a href="/foodFoodTruck/add">Add New Food for a Food Truck</a>
            <br/><br/>
            <a href="/foodRestaurant/add">Add New Food for a Restaurant</a>
            <br/><br/>
            <a href="/foodGrocery/add">Add New Food for a Grocery Store</a>
            <br/><br/>
        </ul>
    </nav>
<article>
    <a href="/foodFoodTruck/add">Add New Food for a Food Truck</a> &ndash; Creates new food for a food truck with user input
    <br/><br/>
    <a href="/foodRestaurant/add">Add New Food for a Restaurant</a> &ndash; Creates new food for a restaurant with user input
    <br /><br />
    <a href="/foodGrocery/add">Add New Food for a Grocery Store</a> &ndash; Creates new food for a grocery store with user input
    <br/><br/>
        <table border="1">
            <tr><th>Name</th><th>Delete</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/foodFoodTruck/?food_id=<%= result[i].food_id %>"><%= result[i].name %></a></td>
                <td>
                    <form action="/foodFoodTruck/delete/" style="display:inline;">
                        <input type="hidden" name="food_id" id="food_id" value="<%= result[i].food_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
</article>
    <footer>Copyright Yarp.co Spring 2017</footer>
</div>
</body>
</html>
