<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 3px darkgrey;
        }
        header, footer {
            padding: 1em;
            color: mediumspringgreen;
            background-color: darkolivegreen;
            clear: left;
            text-align: center;
        }
        nav {
            float: left;
            max-width: 350px;
            margin: 0;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul a {
            text-decoration: none;
        }
        article {
            margin-left: 360px;
            border-left: 3px solid darkolivegreen;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">
    <header><h1>Update <%= food.name%></h1></header>
<article>
    <form action="/foodFoodTruck/update" method="get">
    <input type="hidden" id="food_id" name="foody_id" value="<%= food.food_id %>">
    Food Name: <input id="name" name="name" type="text" value="<%= food.name%>"/>
    <br />
    <br />
    Food Truck <br />
    <select id="foodTruck_id" name="foodTruck_id">
        <% for(var i=0; foodTruck.length > i; i++ ) {
            var selected = "";

            if(foodTruck[i].food_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= foodTruck[i].foodTruck_id %>" <%= selected %> ><%= foodTruck[i].name %></option>
        <% } %>
    </select>

    <br />

    <input type="submit" />

</form>
</article>
    <footer>Copyright Yarp.co Spring 2017</footer>
</div>
</body>
</html>
